.container {
    height: calc(100vh - 100px);
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.navbar span {
    font-size: 2rem;
    transition: color 0.3s ease;
    letter-spacing: 8px;
}

.navbar span:hover {
    background-image: linear-gradient(to right, #488BD8, #AB1C8F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar nav button {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    padding: 7px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.navbar nav button:hover {
    background-color: white;
    color: black;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin-right: 30px;
    transition: .3s;
    cursor: pointer;
}

.navbar nav ul li:hover {
    color: wheat;
}

.container .mid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .mid-content h2 {
    color: white;
    letter-spacing: 5px;
    font-size: 2.6rem;
}

.container .mid-content p {
    color: white;
}

.container .bottom-content {
    text-align: center;
    margin-top: 50px;
}

.container .bottom-content button {
    margin-right: 10px;
    background-color: transparent;
    outline: none;
    padding: 15px 30px;
    color: white;
    transition: .3s;
}

.container .bottom-content #explore {
    border-color: #4C83CE;
}

.container .bottom-content #drive {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #4C83CE, #AB1C8F) 1;
}

.container .bottom-content #reserve {
    border-color: #AB1C8F;
}

.container .bottom-content button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.container .bottom-content button.btn-glow {
    position: relative;
    overflow: hidden;
}

.container .bottom-content button.btn-glow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100%;
    background-color: white;
    z-index: 1;
    transition: left 0.4s ease;
}

.container .bottom-content button.btn-glow:hover::before {
    left: 100%;
}

.bx-menu {
    display: none;
}

.bx-menu .bar {
    width: 20px;
    height: 2px;
    background-color: white;
    margin-bottom: 4px;
}

.menu.show {
    display: block;
}

@media (max-width: 955px) {
    .mid-content h2 {
        font-size: 1.6rem !important;
    }

    .navbar nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        background: linear-gradient(to bottom, #2503eb, #AB1C8F);
        z-index: 1;
    }

    .navbar nav ul {
        display: block;
        margin: 70px 0 0 20px;
    }

    .navbar nav ul li {
        margin: 20px;
        cursor: pointer;
    }

    .navbar button {
        margin: 10px 0 0 35px;
    }

    .bx-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        z-index: 2;
    }

    .menu.show {
        transform: translateX(0%);
    }

    .menu {
        transform: translateX(100%);
    }
}

@media (max-width: 655px) {
    .mid-content h2 {
        font-size: 1rem !important;
    }
}

@media (max-width: 480px) {
    .mid-content {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .mid-content h2 {
        font-size: 1rem !important;
    }
}