.container {
    height: calc(100vh - 100px);
}

.container .mid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .mid-content h2 {
    color: white;
    letter-spacing: 5px;
    font-size: 2.6rem;
}

.container .mid-content p {
    color: white;
}

.container .bottom-content {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 955px) {
    .mid-content h2 {
        font-size: 1.6rem !important;
    }
}

@media (max-width: 655px) {
    .mid-content h2 {
        font-size: 1rem !important;
    }
}

@media (max-width: 480px) {
    .mid-content {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .mid-content h2 {
        font-size: 1rem !important;
    }
}